header h1, header h2{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding:10px;
  margin:0;
  
}

header{
  background-color: #000000;
  color: #fca311;
  margin:0;
}

.grp {

  color: #fca311;
}

main, .grp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
}


button {
  margin-bottom: 40px;
  background-color: #000000;
  color: #fca311;
  border: 2px solid #fca311;
  padding: 15px;
  border-radius: 15px;
}

button:hover {
  background-color: #14213d;
}

body{
  background-color: #14213d;
  color: #fca311;
}